body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #202124;
  font-size: 25px;
  font-weight: 100;
  line-height: 28px;
  text-align: left;
  margin-bottom: 10px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: rgb(0, 0, 0);
  font-size: 15px;
  line-height: 20px;
  margin: 0px;
  padding: 0;
  text-transform: capitalize;
}
.weather-app {
  background-color: #66a8dc;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  vertical-align: top;
  margin-right: 10px;
  width: 75px;
}
.weather-temperature strong {
  color: #202124;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.5;
  padding: 10px;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -24px;
}
#city-input.form-control {
  margin-top: 10px;
  padding: 5px;
  font-size: 15px;
}
input.btn.btn-primary {
  padding: 5px;
  font-size: 15px;
}
input.btn.btn-primary:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  font-size: 15px;
  cursor: pointer;
}
.footer {
  font-size: 13px;
  font-weight: bold;
  line-height: 30px;
  text-decoration: none;
}
#pudge {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.weather {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast-day {
  font-size: 18px;
  opacity: 0.7;
  text-align: center;
}
.weather-forecast-temperature-max {
  font-size: 15px;
  opacity: 0.8;
  text-align: center;
}
.weather-forecast-temperature-min {
  font-size: 15px;
  opacity: 0.8;
  text-align: center;
}
.col-2 {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  padding: 17px;
  border: 2px solid #dadde1;
  max-width: 55px;
}
